* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: DSBIOS; }

@font-face {
  font-family: alagard;
  src: url(../fonts/alagard.ttf); }

@font-face {
  font-family: DSBIOS;
  src: url(../fonts/DSBIOS.ttf); }

body {
  background-image: url(../images/background.jpg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  overflow-x: hidden; }

ul {
  list-style-type: none; }

a {
  text-decoration: none;
  color: #ffffff; }
  a:hover {
    color: #ff1a51; }

h1,
h2,
h3 {
  color: #ffffff;
  font-family: alagard;
  font-weight: 100;
  text-transform: uppercase; }

p {
  color: #e2d0ff; }

.button, .form__submit {
  font-size: 1.8rem;
  text-transform: uppercase;
  color: #fff;
  background: #ff1a51;
  padding: 15px 30px 15px;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  outline: none;
  border: none;
  box-shadow: 0 10px #8a046d; }
  .button:hover, .form__submit:hover {
    color: #fff;
    box-shadow: 0 5px #8a046d;
    transform: translate(0, 5px); }
  .button:active, .form__submit:active {
    box-shadow: 0 0 #8a046d;
    transform: translate(0, 10px); }

/* HEADER
   =========================================================================================================== */
@keyframes fadeLeft {
  from {
    opacity: 0;
    transform: translateX(200px); }
  to {
    opacity: 1;
    transform: translateX(0); } }

.header {
  height: 100vh;
  padding: 0;
  position: relative; }
  .header::after {
    content: "";
    background-image: url(../images/hero-draw.png);
    background-repeat: no-repeat;
    background-position: right bottom;
    background-size: 52%;
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: -10px;
    right: 0px;
    animation-name: fadeLeft;
    animation-delay: 0.5s;
    animation-fill-mode: backwards;
    animation-duration: 0.5s;
    z-index: -1; }
  .header::before {
    content: "";
    background-image: url(../images/arrow.gif);
    background-repeat: no-repeat;
    background-position: left bottom;
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: 30px;
    left: calc(50% - 26px); }

.navbar {
  padding: 0; }

.navbar-collapse {
  transition: all 0.3s; }

.icon {
  margin-right: 10px; }

.navbar-brand {
  margin-top: 10px;
  font-family: alagard;
  text-transform: uppercase;
  font-size: 2.5rem;
  color: #ff1a51;
  text-shadow: 2px 2px 0 #5f229a;
  transition: color 0.2s; }
  .navbar-brand:hover {
    color: #ffb3b7; }

.nav-item {
  margin: 0 20px 0px 20px;
  transition: border-bottom 0.1s; }
  .nav-item:hover {
    margin-bottom: calc(-2px);
    border-bottom: 2px solid #ff1a51; }

.nav-link {
  font-size: 1.8rem;
  transition: color 0.1s;
  color: #fff; }
  .nav-link:hover {
    color: #ff1a51; }
  .nav-link:focus {
    color: #fff; }

.bars {
  width: 2em; }

.hero__titles {
  width: 100%;
  height: 90%;
  display: flex;
  align-items: center;
  flex-direction: row;
  font-size: 1rem;
  position: relative;
  z-index: 10; }

.titles__icon {
  width: 16em;
  height: 16em;
  margin-right: 25px; }

.titles__title {
  font-size: 6em;
  text-shadow: 6px 6px 0 rgba(25, 13, 48, 0.603); }

.titles__subtitle {
  font-size: 2.5em;
  text-shadow: 3px 3px 0 rgba(25, 13, 48, 0.603);
  margin-bottom: 15px; }

.hero__draw {
  width: 500px;
  height: 500px;
  position: relative;
  z-index: -1; }

/* OTHER PAGES HEADER
   =========================================================================================================== */
.headerModifier {
  height: 40vh; }
  .headerModifier::after, .headerModifier::before {
    display: none; }

.sogepix {
  color: #ff1a51;
  text-shadow: 4px 4px 0 rgba(25, 13, 48, 0.603);
  padding-top: 15px;
  font-family: alagard;
  text-transform: uppercase;
  font-size: 2.5rem; }

.titleFlex {
  width: 100%;
  height: 80%;
  display: flex;
  align-items: center;
  justify-content: center; }

.titleModifier {
  font-size: 4rem;
  text-shadow: 5px 5px 0 rgba(25, 13, 48, 0.603);
  z-index: -1; }

/* HOME MAIN 
   ============================================================================================================================== */
.main {
  padding: 0;
  border-top: 10px solid #8c7cb6;
  background-color: #5b4d83;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='48' height='48' viewBox='0 0 48 48'%3E%3Cg fill='%23826ba8' fill-opacity='0.15'%3E%3Cpath d='M12 0h18v6h6v6h6v18h-6v6h-6v6H12v-6H6v-6H0V12h6V6h6V0zm12 6h-6v6h-6v6H6v6h6v6h6v6h6v-6h6v-6h6v-6h-6v-6h-6V6zm-6 12h6v6h-6v-6zm24 24h6v6h-6v-6z'%3E%3C/path%3E%3C/g%3E%3C/svg%3E");
  position: relative;
  z-index: 20; }

.presentation {
  padding: 80px 0; }

.presentation__title {
  color: #ff1a51;
  font-size: 3rem;
  margin-bottom: 30px;
  text-shadow: 3px 3px 0 rgba(28, 0, 83, 0.623); }

.presentation__paragraph {
  font-size: 1.8rem; }
  .presentation__paragraph a {
    text-decoration: underline; }

.presentation__article {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: 1fr 1fr;
  gap: 100px 150px;
  align-items: center;
  margin-bottom: 80px; }

.timeline {
  grid-column: 1 / 3; }

.presentation__img {
  width: 100%;
  box-shadow: 14px 14px 0 rgba(33, 0, 99, 0.425); }

/* DRAWINGS MAIN */
.drawsContainer {
  padding: 80px 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  justify-content: center; }

.drawing {
  width: 100%;
  height: 100%;
  object-fit: cover; }

/* CONTACT MAIN */
.formContainer {
  padding: 80px 0;
  display: flex;
  justify-content: space-between; }

.formImage {
  width: 40%;
  object-fit: contain; }

.form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 40%; }

.input {
  font-size: 1.8rem;
  color: #ffffff;
  background: #3b2f5c;
  border-radius: 0;
  border: none;
  border-bottom: 2px solid #9986ce;
  margin: 5px 0; }
  .input::placeholder {
    color: #8c7cb6; }
  .input:focus {
    color: #fff;
    background-color: #504179;
    border-bottom: 2px solid #ff1a51;
    box-shadow: 0 0 0 2px #3b2f5c94; }

/* COMMISSIONS MAIN */
.cardsContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 20px;
  justify-content: center;
  justify-items: center;
  margin-bottom: 80px; }

.card {
  display: flex;
  flex-direction: column;
  width: 300px;
  height: 400px;
  background: #5b4d83;
  box-shadow: 14px 14px 0 rgba(27, 8, 63, 0.623);
  border-radius: 0; }

.card-img-top {
  width: 100%;
  height: 50%;
  object-fit: cover;
  border-radius: 0; }

.card-title {
  color: #fff;
  font-family: alagard;
  text-transform: uppercase;
  font-size: 1.8rem;
  margin-top: 20px;
  text-align: center;
  text-shadow: 2px 2px 0 rgba(28, 0, 83, 0.623); }

.card-subtitle {
  color: #ffff00;
  font-size: 2em;
  text-align: center;
  margin: 5px 0;
  text-shadow: 2px 2px 0 rgba(28, 0, 83, 0.623); }

.card-body a {
  width: 100%;
  text-align: center; }

/* INSPIRATIONS MAIN */
.inspirations {
  padding: 80px 0; }

.inspiration {
  margin-bottom: 100px;
  font-size: 1.6rem;
  line-height: 1; }

.inspiration__title {
  font-size: 3rem;
  text-shadow: 3px 3px 0 rgba(28, 0, 83, 0.623);
  margin-bottom: 10px; }

.carousel {
  box-shadow: 14px 14px 0 rgba(39, 12, 94, 0.425); }

.carousel-item {
  height: 400px;
  transition: all 0.5s; }
  .carousel-item img {
    height: 100%;
    object-fit: cover;
    object-position: bottom; }

/* ---------------------------------------------------------------------------- FOOTER */
.shadowModifier {
  display: none; }

.mainShadow {
  width: 100%;
  height: 15px;
  background-color: #140e1f96; }

.footer {
  font-size: 1.8rem;
  background-image: url(../images/background.jpg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  margin: 0;
  padding: 0; }

.footer__nav {
  display: flex;
  padding: 70px 0;
  justify-content: space-between;
  align-items: center; }

.footer__ul {
  display: flex; }

.footer__li {
  padding: 10px 30px; }
  .footer__li a {
    transition: color 0.2s; }
    .footer__li a:hover {
      color: #ff1a51; }

.social__instagram {
  display: inline-block;
  width: 80px; }

.ig {
  width: 80px;
  transition: filter 0.2s; }
  .ig:hover {
    filter: brightness(1.2); }

.footer__copyright {
  color: #ffffff;
  text-align: center;
  padding-top: 10px;
  text-shadow: 1.5px 1.5px 0 rgba(33, 0, 99, 0.425);
  margin: 0; }

.footerCommissions {
  background: none; }

/* 1366px
   =========================================================================================================== */
@media (max-width: 1366px) {
  .hero__titles {
    font-size: 0.8rem; }
    .hero__titles div .button, .hero__titles div .form__submit {
      padding: 5px 20px;
      font-size: 2.5em; }
  .titles__title {
    margin: 0; }
  .titles__subtitle {
    margin-bottom: 10px; }
  /* CONTACT */
  .formContainer {
    flex-direction: column;
    align-items: center; }
  .formImage {
    order: 1;
    margin-top: 70px; } }

/* 1200px
   =========================================================================================================== */
@media (max-width: 1200px) {
  .hero__titles {
    font-size: 0.6rem; }
  .presentation__article {
    gap: 120px 100px; }
  .footer__ul {
    flex-wrap: wrap; }
  /* COMMISSIONS */
  .cardsContainer {
    grid-template-rows: 1fr 1fr;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px; }
  .card:first-child {
    grid-column: 1 / 3; }
  .card:nth-child(2) {
    grid-column: 3 / 5; }
  .card:last-child {
    grid-column: 2 / 4;
    grid-row: 2 / 4; }
  /* CONTACT */
  .form {
    width: 50%; } }

/* 991px (BOOTSTRAP FIXES)
   =========================================================================================================== */
@media (max-width: 991px) {
  .headerModifier {
    height: 80vh; } }

/* 950px
   =========================================================================================================== */
@media (max-width: 950px) {
  .navbar-brand {
    font-size: 2rem; }
  .bars {
    width: 1.5em; }
  .header::after {
    background-size: 60%; }
  .presentation__img {
    grid-column: 1 / 2; }
    .presentation__img:first-child {
      display: none; }
  .presentation__article {
    grid-template-rows: repeat(4, min-content);
    grid-template-columns: 1fr;
    gap: 50px 0; }
  .presentation__paragraph {
    grid-column: 1 / 2; } }

/* 768px
   =========================================================================================================== */
@media (max-width: 768px) {
  /* INDEX */
  .nav__ul {
    justify-content: center; }
  .header::after {
    display: none; }
  .hero__titles {
    display: grid;
    gap: 20px;
    text-align: center;
    align-content: center;
    justify-items: center; }
  .titles__icon {
    margin: 0; }
  .presentation__title {
    font-size: 2.5rem;
    padding: 0 10px; }
  .presentation__paragraph {
    line-height: 1.4; }
  .presentation__title {
    text-align: center; }
  .presentation__img {
    box-shadow: 0 14px 0 rgba(33, 0, 99, 0.425); }
  /* GENERAL FOR THE OTHER PAGES*/
  .nav__ul--pages {
    display: none; }
  .barsPages {
    display: inline-block;
    width: 2em;
    margin-top: 10px; }
  /* DRAWINGS */
  .drawsContainer {
    grid-template-columns: 1fr 1fr;
    gap: 4px; }
  /* CONTACT */
  .form {
    width: 80%; }
  .formImage {
    width: 100%; }
  /* INSPIRATIONS */
  .cardsContainer {
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: 1fr;
    padding-bottom: 80px; }
  .card:first-child {
    grid-column: 1 / 2; }
  .card:nth-child(2) {
    grid-column: 1 / 2;
    grid-row: 2 / 3; }
  .card:last-child {
    grid-column: 1 / 2;
    grid-row: 3 / 4; } }

/* 575px (BOOTSTRAP FIXES)
   =========================================================================================================== */
@media (max-width: 575px) {
  .presentation__paragraph {
    padding: 0 30px; }
  .timeline {
    padding: 0 30px; }
  .ig {
    display: none; } }

/* 480px
   =========================================================================================================== */
@media (max-width: 480px) {
  .header {
    height: 90vh; }
  .icon {
    margin-top: 10px; }
  .navbar-brand {
    margin: 0; }
  .nav__ul {
    display: none; }
  .nav {
    padding-top: 10px;
    display: flex;
    justify-content: flex-end; }
  .hero__titles {
    margin-top: 30px;
    align-content: start; }
  .titles__icon {
    width: 15em;
    height: 15em; }
  .titles__title {
    font-size: 4em;
    margin-bottom: 0.05em; }
  .titles__subtitle {
    font-size: 2.45em; }
  .button, .form__submit {
    padding: 1.5em 2.5em 1em 2.5em;
    font-size: 1.2em; }
  .presentation__title {
    font-size: 2rem; }
  .presentation__paragraph {
    padding: 0 30px; }
  .footer__ul {
    flex-direction: column;
    margin: 20px 0;
    padding: 0;
    text-align: center; }
  .footer__li {
    text-align: center;
    padding: 0;
    margin: 20px 0; }
  .ig {
    display: inline-block; }
  /* GENERAL FOR OTHER PAGES */
  .navPages {
    justify-content: space-between;
    margin: 0 25px; }
  .titleModifier {
    font-size: 3rem; }
  /* CONTACT */
  .formContainer {
    padding: 80px 20px; }
  .form {
    width: 100%; }
  .input {
    margin: 10px 0;
    width: 100%;
    padding: 10px; }
  .form__submit {
    font-size: 1.8rem;
    padding: 10px 20px; }
  /* INSPIRATIONS */
  .inspiration__title,
  .inspiration__paragraph {
    padding: 0 20px; }
  .inspiration__title {
    text-align: center;
    margin: 30px 0; }
  .footer__nav {
    flex-direction: column; }
  .ig {
    margin: 0;
    margin-bottom: 2em; }
  /* COMMISSIONS*/
  .card-body .button, .card-body .form__submit {
    font-size: 1.8rem;
    padding: 10px; } }

/* 320px
   =========================================================================================================== */
@media (max-width: 320px) {
  .navbar-brand {
    display: none; }
  .presentation__paragraph {
    font-size: 1.7rem; }
  /* CONTACT */
  .formContainer {
    padding: 60px 20px; } }
