@import '_base/reset';

@import '_utilities/variables';

@import '_base/typo';
@import '_base/general';

@import '_components/buttons';

@import '_layout/header';
@import '_layout/footer';

@import '_views/home';