/* COMMISSIONS MAIN */

.cardsContainer {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-column-gap: 20px;
	justify-content: center;
	justify-items: center;
	margin-bottom: 80px;
}

.card {
	display: flex;
	flex-direction: column;
	width: 300px;
	height: 400px;
	background: $mainColor;
	box-shadow: 14px 14px 0 rgba(27, 8, 63, 0.623);
	border-radius: 0;
}

.card-img-top {
	width: 100%;
	height: 50%;
	object-fit: cover;
	border-radius: 0;
}

.card-title {
	color: #fff;
	font-family: alagard;
	text-transform: uppercase;
	font-size: 1.8rem;
	margin-top: 20px;
	text-align: center;
	text-shadow: 2px 2px 0 rgba(28, 0, 83, 0.623);
}

.card-subtitle {
	color: #ffff00;
	font-size: 1.2em;
	text-align: center;
	margin: 5px 0;
	text-shadow: 2px 2px 0 rgba(28, 0, 83, 0.623);
}

.card-body a {
	width: 100%;
	text-align: center;
}