/* CONTACT MAIN */

.formContainer {
	padding: 80px 0;
	display: flex;
	justify-content: space-between;
}

.formImage {
	width: 40%;
	object-fit: contain;
}

.form {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 40%;
}

.input {
	font-size: 1.8rem;
	color: #ffffff;
	background: #3b2f5c;
	border-radius: 0;
	border: none;
	border-bottom: 2px solid #9986ce;
	margin: 5px 0;

	&::placeholder {
		color: #8c7cb6;
	}

	&:focus {
		color: #fff;
		background-color: #504179;
		border-bottom: 2px solid $primaryColor;
		box-shadow: 0 0 0 2px #3b2f5c94;
	}
}

.form__submit {
	@extend .button;
}
