/* HOME MAIN 
   ============================================================================================================================== */

.main {
	padding: 0;
	border-top: 10px solid #8c7cb6;
	background-color: $mainColor;
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='48' height='48' viewBox='0 0 48 48'%3E%3Cg fill='%23826ba8' fill-opacity='0.15'%3E%3Cpath d='M12 0h18v6h6v6h6v18h-6v6h-6v6H12v-6H6v-6H0V12h6V6h6V0zm12 6h-6v6h-6v6H6v6h6v6h6v6h6v-6h6v-6h6v-6h-6v-6h-6V6zm-6 12h6v6h-6v-6zm24 24h6v6h-6v-6z'%3E%3C/path%3E%3C/g%3E%3C/svg%3E");
	position: relative;
	z-index: 20;
}

.presentation {
	padding: 80px 0;
}

.presentation__title {
	color: $primaryColor;
	font-size: 3rem;
	margin-bottom: 30px;
	text-shadow: 3px 3px 0 rgba(28, 0, 83, 0.623);
}

.presentation__paragraph {
	font-size: 1.8rem;
	a {
		text-decoration: underline;
	}
}

.presentation__article {
	display: grid;
	grid-template-rows: repeat(3, 1fr);
	grid-template-columns: 1fr 1fr;
	gap: 100px 150px;

	align-items: center;
	margin-bottom: 80px;
}

.timeline {
	grid-column: 1 / 3;
}

.presentation__img {
	width: 100%;
	box-shadow: 14px 14px 0 rgba(33, 0, 99, 0.425);
}
