/* ---------------------------------------------------------------------------- FOOTER */
.shadowModifier {
	display: none;
}

.mainShadow {
	width: 100%;
	height: 15px;
	background-color: #140e1f96;
}

.footer {
	background-image: url(../images/background.png);
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: bottom;
	margin: 0;
	padding: 0;
}

.footer__nav {
	display: flex;
	padding: 70px 0;
	justify-content: space-between;
	align-items: center;
	margin: 0;
}

.footer__ul {
	display: flex;
}

.footer__li {
	padding: 10px 20px;

    a {
        transition: color 0.2s;
        
        &:hover {
            color: $primaryColor;
        }
    }
}

.social__instagram {
    display: inline-block;
    width: 80px;
}

.ig {
	width: 80px;
	margin-left: 20px;
	transition: filter 0.2s;
    
    &:hover {
        filter: brightness(1.2);
    }
}

.footer__copyright {
	color: #ffffff;
	text-align: center;
	padding-top: 10px;
	text-shadow: 1.5px 1.5px 0 rgba(33, 0, 99, 0.425);
	margin: 0;
}

.footerCommissions {
	background: none;
}